body {
  background-color: #121212;
}

.mainColor {
  color: #cdaa35;
}

#Page .container {
  color: #fff;
}
#Page .container > h6 {
  background-color: rgb(51, 42, 51);
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 50px;
}
#Page .container > p {
  color: #888888;
}
#Page .container .data .tolls-search .searchText > h4 {
  width: fit-content;
  color: #cdaa35;
  border-radius: 10px;
}
#Page .container .data .content-search .row .spacial-card .item {
  height: 450px;
  background-color: rgba(56, 56, 56, 0.9803921569);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #cdaa35;
  margin: auto;
}
@media (max-width: 1300px) {
  #Page .container .data .content-search .row .spacial-card .item {
    max-width: 300px;
  }
}
@media (min-width: 371px) and (max-width: 1300px) {
  #Page .container .data .content-search .row .spacial-card .item {
    max-width: 350px;
  }
}
#Page .container .data .content-search .row .spacial-card .item .header {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Page .container .data .content-search .row .spacial-card .item .body {
  padding: 20px 15px;
  position: relative;
}
#Page .container .data .content-search .row .spacial-card .item .body h6 {
  position: absolute;
  width: 75%;
  overflow: hidden;
  top: -12%;
  left: 3%;
  font-size: 14px;
  background-color: #000;
  color: #cdaa35;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #cdaa35;
}
#Page .container .data .content-search .row .spacial-card .item .body h6 span {
  width: min-content;
}
#Page .container .data .content-search .row .spacial-card .item .body h5 {
  margin-top: 8px;
  font-size: 17px;
  color: #d0d0d0;
}
#Page .container .data .content-search .row .spacial-card .item .body p {
  margin-block: 20px;
  font-size: 14px;
  color: #888888;
}
#Page .container .data .content-search .row .spacial-card .item .body ol {
  padding: 0;
  list-style: none;
  color: #888888;
}
#Page .container .data .content-search .row .spacial-card .item .body ol li {
  font-weight: 400;
  color: #888888;
}
#Page .container .data .content-search .row .spacial-card .item .body ol li::marker {
  display: none;
}
#Page .container .data .content-search .row .spacial-card .item .body a {
  text-decoration: none;
  background-color: #cdaa35;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  border: 2px solid #000;
  transition-duration: 0.5s;
}
#Page .container .data .content-search .row .spacial-card .item .body a:hover {
  background-color: #000;
  color: #cdaa35;
  border-color: #cdaa35;
}
#Page .container .data .indicators {
  overflow: auto;
}
#Page .container .data .indicators ul {
  padding: 10px;
  width: max-content;
  margin: auto;
}
#Page .container .data .indicators ul li {
  background-color: #000;
  border: 3px solid #cdaa35;
  color: #cdaa35;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
#Page .container .data .indicators ul li.active, #Page .container .data .indicators ul li:hover {
  background-color: #cdaa35;
  color: #000;
  border-color: #000;
}

/*# sourceMappingURL=style.css.map */
